#bg-generator {
  background: red;
  height: 200px;
  width: 200px;
  position: relative;
  z-index: 0;
}

#text-generator {
  background: lightblue;
  height: 30px;
  width: 100px;
  position: absolute;
  z-index: 1000;
  top: 0px;
}
